<%= form_for(user, html: { multipart: true }) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <p>
    <strong>Avatar:</strong>
    <% if user.avatar.exists? %>
      <%= image_tag @user.avatar.url(:thumb) %>
    <% end %>
    <%= f.file_field :avatar %>
  </p>

  <p><strong>Name: (*)</strong><%= f.text_field :name %></p>
  <p><strong>Email: (*)</strong><%= f.text_field :email %></p>
  <p><strong>Password:</strong><%= f.password_field :password %></p>
  <p><strong>Password_confirmation:</strong><%= f.password_field :password_confirmation %></p>
  <p><strong>Location:</strong><%= f.text_field :location %></p>
  <p><strong>Linkedin_url:</strong><%= f.text_field :linkedin_url %></p>
  <p><strong>Github_url:</strong><%= f.text_field :github_url %></p>
  <p><strong>Other_site:</strong><%= f.text_field :other_site %></p>
  <p><strong>Twitter:</strong><%= f.text_field :twitter %></p>
  <p><strong>Slack_name:</strong><%= f.text_field :slack_name %></p>
  <p><%= f.submit %></p>

<% end %>
