<!-- not working yet -->
<% project_id = params[:project_id] %>
<% mentee_id = params[:mentee_id] %>
<% mentor_id = params[:mentor_id] %>

  <!-- iterate of @users instance variable which includes * from skills and skills_users table -->
  <% @users.each do |user| %>
    <section class="partial-profile">
      <section style="width: 33%; display: inline-block; vertical-align: top">
        <div class="user-image"><%= image_tag user.avatar.url(:thumb) %></div>
        <h2> <%= user.name %></h2>
      </section>
      <section style="width: 66%; display: inline-block;">
        <div style="width: 100;">
          <h4> user.recieved_ratings </h4>
        </div>
        <div class="profile-skills">
          <h3>Mentor In</h3>
           <!-- iterate of both arrays at once -->
          <% (user.skills).zip(user.skill_users).each do |skill, user_skill| %>
            <% if user_skill.mentor == true && skill.id = user_skill.skill_id%>
              <h5> <%= skill.skill_name%></h5>
            <% end %>
          <% end %>

          <!-- check mentor project count -->
          <% if user.mentor_projects.count && user.mentor_projects.count > 1 %>
            <h5> <%= user.mentor_projects.count%> Projects</h5>
          <% elsif user.mentor_projects.count && user.mentor_projects.count == 1%>
            <h5> <%= user.mentor_projects.count%> Project </h5>
          <% else %>
              <h5> No Project As Mentor </h5>
          <% end %>

        </div>

        <div class="profile-skills">
          <h3>Mentee In</h3>
           <!-- iterate of both arrays at once -->
          <% (user.skills).zip(user.skill_users).each do |skill, user_skill| %>
            <% if !user_skill.mentor && skill.id = user_skill.skill_id%>
              <h5> <%= skill.skill_name%></h5>
            <% end %>
          <% end %>

          <!-- check mentee project count -->
          <% if user.mentee_projects.count && user.mentee_projects.count > 1 %>
            <h5> <%= user.mentee_projects.count%> Projects</h5>
          <% elsif user.mentee_projects.count && user.mentee_projects.count == 1%>
            <h5> <%= user.mentee_projects.count%> Project </h5>
          <% else %>
              <h5> No Project As Mentee </h5>
          <% end %>

        </div>
      </section>
        <%= link_to 'View Profile', user_path(user.id, :project_id => project_id, :mentee_id => mentee_id, :mentor_id => mentor_id), { :class=>"btn" } %>
      </section>
  <% end %>
