<article class="user">
  <header>
    <h4><%= user.name %></h4>

    <% @mentor_skills = Skill.get_user_skills(user.id, true) %>
    <h6>Skills as mentor: <%= @mentor_skills.length %></h6>

    <% @mentee_skills = Skill.get_user_skills(user.id, false) %>
    <h6>Skills as mentee: <%= @mentee_skills.length %></h6>

    <% @mentor_projects = Project.get_user_projects(user.id, true) %>
    <h6>Total of projects as mentor: <%= @mentor_projects.length %></h6>

    <% @mentee_projects = Project.get_user_projects(user.id, false) %>
    <h6>Total of projects as mentee: <%= @mentee_projects.length %></h6>
  </header>

</article>
