<% project_id = params[:project_id] %>
<% mentee_id = params[:mentee_id] %>
<% mentor_id = params[:mentor_id] %>

<section class="user-search">
  <div class="search-input">
    <%= form_tag users_path, :method => 'get', :class=>"search-form" do %>
      <% placeholder = "Find a mentor by name or skill..." %>
      <input type=hidden name=project_id value=<%= project_id %>>
      <% if params[:mentee_id].present? %>
        <input type=hidden name=mentee_id value=<%= mentee_id %>>
      <% end %>
      <% if params[:mentor_id].present? %>
        <input type=hidden name=mentor_id value=<%= mentor_id %>>
        <% placeholder = "Find your mentee by name or skill..." %>
      <% end %>
      <!--input id="searchbar" name="query" placeholder="Find your mentor/mentee by name or skill..."-->
      <%= text_field_tag :query, nil, placeholder: placeholder %>
      <%= submit_tag "Search" %>
    <% end %>
  </div>
  <section class="search-results">
    <%= render 'users/partial_profile' %>
  </section>
</section>
