<% current_user.id == @user.id ? owner = true : owner = false %>

<section class="user-profile">

  <p id="notice"><%= notice %></p>
  <p><%= image_tag @user.avatar.url(:thumb) %></p>

  <p><strong>Name:</strong><%= @user.name %></p>
  <p><strong>Email:</strong><%= @user.email %></p>
  <p><strong>Location:</strong><%= @user.location %></p>
  <p><strong>Linkedin url:</strong><%= @user.linkedin_url %></p>
  <p><strong>Github url:</strong><%= @user.github_url %></p>
  <p><strong>Other site:</strong><%= @user.other_site %></p>
  <p><strong>Twitter:</strong><%= @user.twitter %></p>
  <p><strong>Slack name:</strong><%= @user.slack_name %></p>


  <%= link_to 'Edit', edit_user_path(@user) if owner %>

</section>

<section class="user_skills">
  <%= render 'users/user_skills' %>
</section>

<section class="user_projects">
 <%= render 'projects/partial_project' %>
</section>


