<% if current_user.present? %>
  <% current_user.id == @user.id ? owner = true : owner = false %>
<% else %>
  <% owner = false %>
<% end %>

<% flash.each do |key, value| %>
  <p class="alert alert-<%= key %>"><%= value %></p>
<% end %>

<% project_id = params[:project_id] %>
<% mentee_id = params[:mentee_id] %>
<% mentor_id = params[:mentor_id] %>

<section class="user-profile">
  <section class="reputation-system">
     <div style="width: 100;">
          <!-- Show average recieved ratings for user -->
        <% if !@user.received_ratings.blank? %>
        <h3> User Reputation</h3>
        <h4> Knowledge Accuracy</h4>
        <h5> <%= @user.received_ratings.average(:accuracy).round(2) %></h5>
        <span class='star-rating' data-score=<%= @user.received_ratings.average(:accuracy).round(2) %>></span>
        <h4> User Availability</h4>
        <h5> <%= @user.received_ratings.average(:availability).round(2) %></h5>
        <span class='star-rating' data-score=<%= @user.received_ratings.average(:availability).round(2) %>></span>
        <% else %>
        <% end %>
    </div>
  </section>
  <% if project_id && mentee_id %>
    <%= form_tag project_path(project_id), :method => 'put' do %>
      <input type=hidden name=mentee_id value=<%= mentee_id %>>
      <input type=hidden name=project_id value=<%= project_id %>>
      <input type=hidden name=set_mentor_id value=<%= @user.id %>>
      <%= submit_tag "Send Mentor request", { :class=>"btn" } %>
    <% end %>
  <% elsif project_id && mentor_id%>
    <%= form_tag project_path(project_id), :method => 'put' do %>
      <input type=hidden name=mentor_id value=<%= mentor_id %>>
      <input type=hidden name=project_id value=<%= project_id %>>
      <input type=hidden name=set_mentee_id value=<%= @user.id %>>
      <%= submit_tag "Send Mentee request", { :class=>"btn" } %>
    <% end %>
  <% end %>

  <p id="notice"><%= notice %></p>
  <%= image_tag @user.avatar.url(:thumb), { :class=>"user-image" } %>

  <p><strong>Name: </strong><%= @user.name %></p>
  <p><strong>Email: </strong><%= @user.email %></p>
  <p><strong>Location: </strong><%= @user.location %></p>
  <p><strong>Linkedin url: </strong><%= @user.linkedin_url %></p>
  <p><strong>Github url: </strong><%= @user.github_url %></p>
  <p><strong>Other site: </strong><%= @user.other_site %></p>
  <p><strong>Twitter: </strong><%= @user.twitter %></p>
  <p><strong>Slack name: </strong><%= @user.slack_name %></p>


  <%= link_to 'Edit', edit_user_path(@user) if owner %>

</section>

<section class="user_skills">
  <%= render 'users/user_skills' %>
</section>

<section class="user_projects">
  <h2>Current Projects</h2>
 <%= render 'projects/partial_project' %>
</section>
