<% if current_user.present? %>
  <% current_user.id == @user.id ? owner = true : owner = false %>
<% else %>
  <% owner = false %>
<% end %>

<% project_id = params[:project_id] %>
<% mentee_id = params[:mentee_id] %>
<% mentor_id = params[:mentor_id] %>

<div class="container">

  <section class="user-profile">

    <section class="reputation-system">
    <% if !@user.received_ratings.blank? %>
      <span><strong>Knowledge Accuracy: </strong></span>
      <% if !@user.received_ratings.average(:accuracy).blank? %>
        <span> <%= @user.received_ratings.average(:accuracy).round(2) %></span><br>
        <span class='star-rating' data-score=<%= @user.received_ratings.average(:accuracy).round(2) %>></span><br>
      <% else %>
        <span><em> Not yet rated </em></span><br>
      <% end %>
      <span><strong>User Availability: </strong></span>
      <% if !@user.received_ratings.average(:availability).blank? %>
        <span> <%= @user.received_ratings.average(:availability).round(2) %></span><br>
        <span class='star-rating' data-score=<%= @user.received_ratings.average(:availability).round(2) %>></span><br>
      <% else %>
        <span><em> Not yet rated </em></span><br>
      <% end %>
    <% else %>
    <% end %>
    </section>

    <% if project_id && mentee_id %>
      <%= form_tag project_path(project_id), :method => 'put' do %>
        <input type=hidden name=mentee_id value=<%= mentee_id %>>
        <input type=hidden name=project_id value=<%= project_id %>>
        <input type=hidden name=set_mentor_id value=<%= @user.id %>>
        <%= submit_tag "Send Mentor request" %><br>
      <% end %>
    <% elsif project_id && mentor_id%>
      <%= form_tag project_path(project_id), :method => 'put' do %>
        <input type=hidden name=mentor_id value=<%= mentor_id %>>
        <input type=hidden name=project_id value=<%= project_id %>>
        <input type=hidden name=set_mentee_id value=<%= @user.id %>>
        <%= submit_tag "Send Mentee request" %><br>
      <% end %>
    <% end %>

    <%= image_tag @user.avatar.url(:medium), { :class=>"user-image" } %>

    <div class="info">
      <p><strong>Name: </strong><%= @user.name %></p>
      <% if !@user.location.blank? %>
      <p><strong>Location: </strong><%= @user.location %></p>
      <% end %>
      <p><i class="fa fa-envelope-o" aria-hidden="true"></i> <%= @user.email %></p>
      <p>
      <% if !@user.linkedin_url.blank? %>
      <a href="<%= @user.linkedin_url %>" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
      <% end %>
      <% if !@user.github_url.blank? %>
      <a href="https://github.com/<%= @user.github_url %>" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
      <% end %>
      <% if !@user.twitter.blank? %>
      <a href="https://twitter.com/<%= @user.twitter %>" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
      <% end %>
      </p>
      <% if !@user.slack_name.blank? %>
      <p><i class="fa fa-slack" aria-hidden="true"></i> <%= @user.slack_name %></p>
      <% end %>
      <% if !@user.other_site.blank? %>
      <p><strong>Website </strong><a href="<%= @user.other_site %>" target="_blank"><%= @user.other_site %></a></p>
      <% end %>
    </div>

    <div class="clear"></div>

    <%= link_to 'Edit Profile', edit_user_path(@user), { :class=>"btn edit-profile" } if owner %>

  </section>

  <section class="user_skills">
    <%= render 'users/user_skills' %>
  </section>

  <section class="user_projects">
    <h2>Current Projects</h2>
   <%= render 'projects/partial_project' %>
  </section>

</div>
