<% current_user.id == @user.id ? owner = true : owner = false %>
<% project_id = params[:project_id] %>

<section class="user-profile">

  <% if project_id %>
    <%= form_tag users_path, :method => 'get' do %>
      <input type=hidden name=project_id value=<%= project_id %>>
      <%= submit_tag "Add to project", { :class=>"btn" } %>
    <% end %>
  <% end %>

  <p id="notice"><%= notice %></p>
  <div class="user-image"><%= image_tag @user.avatar.url(:thumb) %></div>

  <p><strong>Name:</strong><%= @user.name %></p>
  <p><strong>Email:</strong><%= @user.email %></p>
  <p><strong>Location:</strong><%= @user.location %></p>
  <p><strong>Linkedin url:</strong><%= @user.linkedin_url %></p>
  <p><strong>Github url:</strong><%= @user.github_url %></p>
  <p><strong>Other site:</strong><%= @user.other_site %></p>
  <p><strong>Twitter:</strong><%= @user.twitter %></p>
  <p><strong>Slack name:</strong><%= @user.slack_name %></p>


  <%= link_to 'Edit', edit_user_path(@user) if owner %>

</section>

<section class="user_skills">
  <%= render 'users/user_skills' %>
</section>

<section class="user_projects">
 <%= render 'projects/partial_project' %>
</section>
