<p id="notice"><%= notice %></p>

<p>
  <strong>Avatar:</strong>
  <%= @user.avatar %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<p>
  <strong>Linkedin url:</strong>
  <%= @user.linkedin_url %>
</p>

<p>
  <strong>Github url:</strong>
  <%= @user.github_url %>
</p>

<p>
  <strong>Other site:</strong>
  <%= @user.other_site %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @user.twitter %>
</p>

<p>
  <strong>Slack name:</strong>
  <%= @user.slack_name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
