<% current_user.id == @user.id ? owner = true : owner = false %>

<section class="user-profile">

  <p id="notice"><%= notice %></p>
  <p><%= image_tag @user.avatar.url(:thumb) %></p>

  <p><strong>Name:</strong><%= @user.name %></p>
  <p><strong>Email:</strong><%= @user.email %></p>
  <p><strong>Location:</strong><%= @user.location %></p>
  <p><strong>Linkedin url:</strong><%= @user.linkedin_url %></p>
  <p><strong>Github url:</strong><%= @user.github_url %></p>
  <p><strong>Other site:</strong><%= @user.other_site %></p>
  <p><strong>Twitter:</strong><%= @user.twitter %></p>
  <p><strong>Slack name:</strong><%= @user.slack_name %></p>


  <%= link_to 'Edit', edit_user_path(@user) if owner %>

</section>

<section class="user_skills">

  <span class="as_mentor">
    <span class="title">Skills - as mentor:</span>
    <span class="mentor_skills">
      <% if owner %>
        <%= form_tag('/skills', method: :post, remote: false) do %>
          <input type=hidden name="mentor" value=true>
          <input type=hidden name="origin" value="user">
          <%= text_field_tag(:skill_name) %>
          <%= submit_tag("Add skill") %>
        <% end %>
      <% end %>
      <span>
        <ul id="container_mentor_skills">
          <% if !@mentor_skills.blank? %>
            <% @mentor_skills.each do |s| %>
              <li id='<%= s.id %>'><%= s.skill_name %>
                <% if owner %>
                  <%= link_to skill_path(id: s.id, mentor: true, origin: "user"), class: 'btn btn-xs btn-danger', method: :delete do %>
                      <i class="fa fa-times" aria-hidden="true"></i>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          <% else %>
            No skills as mentor
          <% end %>
        </ul>
      </span>
    </span>
  </span>

  <span class="as_mentee">
    <span class="title">Skills - as mentee:</span>
    <span class="mentee_skills">
      <% if owner %>
        <%= form_tag('/skills', method: :post, remote: false) do %>
          <input type=hidden name="mentor" value=false>
          <input type=hidden name="origin" value="user">
          <%= text_field_tag(:skill_name) %>
          <%= submit_tag("Add skill") %>
        <% end %>
      <% end %>
      <span>
        <ul id="container_mentee_skills">
          <% if !@mentee_skills.blank? %>
            <% @mentee_skills.each do |s| %>
              <li id='<%= s.id %>'><%= s.skill_name %>
              <% if owner %>
                <%= link_to skill_path(id: s.id, mentor: false, origin: "user"), class: 'btn btn-xs btn-danger', method: :delete do %>
                  <i class="fa fa-times" aria-hidden="true"></i>
                <% end %>
              <% end %>
              </li>
            <% end %>
          <% else %>
            No skills as mentee
          <% end %>
        </ul>
      </span>
    </span>
  </span>

</section>

<section class="user_projects">

  <span class="as_mentor">
    <span class="title">Projects - as mentor:</span>
    <span class="mentor_projects">
        <%= link_to 'Add project', project_path(@user) if owner %>
      <span>
        <ul id="container_mentor_projects">
          <% if !@mentor_projects.blank? %>
            <% @mentor_projects.each do |p| %>
              <li id='<%= p.id %>'><%= p.name %></li>
            <% end %>
          <% else %>
            No projects as mentor.
          <% end %>
        </ul>
      </span>
    </span>
  </span>

<span class="as_mentee">
  <span class="title">Projects - as mentee:</span>
    <span class="mentee_projects">
        <%= link_to 'Add project', project_path(@user) if owner %>
      <span>
        <ul id="container_mentee_projects">
          <% if !@mentee_projects.blank? %>
            <% @mentee_projects.each do |p| %>
              <li id='<%= p.id %>'><%= p.name %> (<%= p.completion_status%>)</li>
            <% end %>
          <% else %>
            No projects as mente.
          <% end %>
        </ul>
      </span>
    </span>
  </span>

</section>


