<%= render 'projects_sidebar' %>

<section class="home-user-feed">

  <section class="comment-box">

  <%= form_tag(feeds_path, method: :post, remote: false) do %>
    <%= text_area_tag(:post) %>
    <%= submit_tag("Post Message") %>
  <% end %>

  </section>

  <section class="feed-list">
    <h1>User Feed</h1>
    <% if @activity_list.present? %>
      <% @activity_list.each do |activity|%>
          <article class="feed-message">
           [<%=raw activity.created_at%>] <%=raw activity.message %>
          </article>
      <% end %>
    <% else %>
      <article>
          <p> You Have No Activites, Create A New Project [Link To Create Project Page].</p>
        </article>
    <% end %>
      <button> <%= link_to "Reload", root_path %> </button>
  </section>

</section>

<%= console%>
