<%= render 'projects_sidebar' %>

<section class="home-user-feed">

  <section class="comment-box">

  <%= form_tag(feeds_path, method: :post, remote: false) do %>
    <%= text_area_tag(:post) %>
    <%= submit_tag("Post Message") %>
  <% end %>

  </section>


  <section class="feed-list">
    <h1>User Feed</h1>
    <% @projects.each do |project|%>
      <% if ( current_user.id == project.mentor_id || project.mentee_id) && !project.feeds.empty? %>
        <% project.feeds.each do |activity|%>
          <article>
          <%=raw activity.message%>
          <%=activity.created_at%>
          </article>
        <% end %>
      <% end %>
    <% end %>
      <button> <%= link_to "Reload", root_path %> </button>
      <article>
        <h1>No Activities In Your Projects</h1>
      </article>
  </section>

</section>




