<%= render 'projects_sidebar' %>

<section class="home-user-feed">

  <section class="comment-box">

  <%= form_tag(feeds_path, method: :post, remote: false) do %>
    <%= text_area_tag(:post) %>
    <%= submit_tag("Post Message") %>
  <% end %>

  </section>

  <section class="feed-list">
    <h1>User Feed</h1>
    <% @activity_list = [] %>
    <% @projects.each do |project|%>
      <% if (!project.feeds.empty? && (current_user.id == project.mentor_id) || (current_user.id == project.mentee_id)) %>
        <% project.feeds.each do |activity| %>
          <% @activity_list.push(activity) %>
        <% end %>
      <% end %>
    <% end %>
    <% if !@activity_list.empty? %>
      <% @activity_list.each do |activity|%>
        <article>
          <%=raw activity.message%>
          <%=raw activity.created_at%>
        </article>
      <% end %>
    <% else %>
      <article>
          <p> You Have No Activites, Create A New Project [Link To Create Project Page].</p>
        </article>
    <% end %>
      <button> <%= link_to "Reload", root_path %> </button>
  </section>

</section>
