<%= render 'projects_sidebar' %>

<section class="home-user-feed">

  <% flash.each do |key, value| %>
    <p class="alert alert-<%= key %>"><%= value %></p>
  <% end %>

  <section class="comment-box">

  <%= form_tag(feeds_path, method: :post, :class=>"user-post-form", remote: false) do %>
    <%= text_area_tag(:post) %>
    <%= submit_tag("Post Message") %>
  <% end %>

  </section>

  <section class="feed-list">
    <h1>User Feed</h1>
    <% if @activity_list.present? %>
      <% @activity_list.each do |activity|%>
          <article class="feed-message">
           [<%=raw activity.created_at%>] <%=raw activity.message %>
          </article>
      <% end %>
    <% else %>
      <article>
          <p> You currently have no activity, <%= link_to 'click here to start a new project', new_project_path %>.</p>
        </article>
    <% end %>
      <button> <%= link_to "Reload", root_path %> </button>
  </section>

</section>
