<% if current_user %>
  <%= render 'user_feed' %>
<% else %>

  <section class="register-login">
   <h1>Welcome To Our App</h1>
    <h2>Register Login Form Here</h2>
    <!-- add links to register and log in -->
  </section>

  <section class="home-search">
    <div class="search-input">
      <%= form_tag home_index_path, :method => 'get' do %>
        <!--input id="searchbar" name="query" placeholder="Search mentors by skill"-->
        <%= text_field_tag :query, nil, placeholder: "Find your mentor by name or skill...", size: 50 %>
        <%= submit_tag "Search" %>
      <% end %>
    </div>
    <section style="width: 50%; display: inline-block;">
    <%= render 'users/partial_profile' %>
     </section>
  </section>

  <section class="project-showcase">
    <h1>Projects</h1>
    <%= render 'projects/partial_project' %>
  </section>
<% end %>
