<% if current_user %>

<%= render 'user_feed' %>

<% else %>

<% flash.each do |key, value| %>
  <p class="alert alert-<%= key %>"><%= value %></p>
<% end %>

<section class="home-search">
  <h1>Find A Mentor In Your Field</h1>
  <%= form_tag home_index_path, :method => 'get', :class=>"search-form" do %>
    <%= text_field_tag :query, nil, placeholder: "Find a mentor by name or skill..." %>
    <%= submit_tag "Search" %>
  <% end %>
  <section class="search-results">
    <%= render 'users/partial_profile' %>
  </section>
</section>

<section class="project-showcase">
  <h1>Start relationships through projects!</h1>
  <%= render 'projects/partial_project_anonymous' %>
</section>

<% end %>
