<%= form_for(project, html: { multipart: true }) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :project_url, "Project URL" %>
    <%= f.text_field :project_url %>
  </div>

  <div class="field">
    <%= f.label :start_date, "Start Date" %>
    <%= f.date_field :start_date %>
  </div>

  <div class="field">
    <%= f.label :finish_date, "Finish Date" %>
    <%= f.date_field :finish_date %>
  </div>

  <div class="field">
    <%= f.label :public, "Is this a public project?" %>
    <%= f.select :public, [['Yes', true], ['No', false]] %>
  </div>


<% if !@project.id.present? %>
<!-- Project is being created -->

  <div class="field">
    <%= f.label :mentor_id, "Are you a mentor for this project?" %>
    <%= f.select :mentor_id, [['Yes', "Mentor"], ['No', "Mentee"]] %>
  </div>

<% else %>
<!-- Project is being edited -->

  <div class="field">
    <%= f.label :completion_status_id, "Completion status:" %>
    <%= f.select :completion_status_id, [["In Progress", 1], ["Complete", 2], ['Cancelled', 3]] %>
  </div>

<% end %>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= console %>