<% if current_user.present? %>

<% current_user.id == @user.id ? @owner = true : @owner = false %>

<section class="as_mentor">
  <!-- iterate over mentor_projects can add mentee projects using (user.mentor_projects).zip.(user.mentee_projects)each -->
  <% @project_users.each do |user| %>
  <% if !user.mentor_projects.blank? %>
  <% (user.mentor_projects).each do |mentor_project| %>
  <h1 class="title">As a mentor:</h1>
  <article>
    <section class="mentor-project">
      <% if mentor_project &&  mentor_project.mentor_id = user.id %>
      <% if mentor_project.mentee_id.present?%>
      <% mentee = User.get_user(mentor_project.mentee_id)%>
      <% mentee_name = mentee.name %>
      <% mentee_avatar = mentee.avatar%>
      <section class="users">
        <section class="user">
          <h5>Mentor:</h5>
          <div class="user-image"><%= image_tag user.avatar.url(:thumb) %></div>
          <p><%= user.name%></p>
        </section>
        <section class="user">
          <h5>Mentee:</h5>
          <div class="user-image"><%= image_tag mentee.avatar.url(:thumb) %></div>
          <p><%= mentee_name%></p>
        </section>
      </section>
      <section class="project-info">
        <h5>Project Name:</h5>
        <p><%= mentor_project.name%></p>
        <h5>Project Description:</h5>
        <p><%= mentor_project.description%></p>
        <h5>Project Skills:</h5>
        <% mentor_project.skills.each do |project_skill|%>
        <p><%= project_skill.skill_name %></p>
        <% end %>
        <%= link_to 'View Project', project_path(mentor_project), { :class=>"btn" } %>
      </section>
      <% else %>
      <section class="users">
        <section class="user">
          <h5>Mentor:</h5>
          <div class="user-image"><%= image_tag user.avatar.url(:thumb) %></div>
          <p><%= user.name%></p>
        </section>
        <section class="user">
          <h5>Mentee:</h5>
          <div class="user-image"><%= image_tag("/images/missing.png") %></div>
          <p>No mentee yet</p>
        </section>
      </section>
      <section class="project-info">
        <h5>Project Name:</h5>
        <p><%= mentor_project.name%></p>
        <h5>Project Description:</h5>
        <p><%= mentor_project.description%></p>
        <h5>Project Skills:</h5>
        <% mentor_project.skills.each do |project_skill|%>
        <p><%= project_skill.skill_name %></p>
        <% end %>
        <%= link_to 'View Project', project_path(mentor_project), { :class=>"btn" } %>
      </section>
      <% end %>
      <% end %>
    </section>
    <% end %>
    <% else %>
    <h3>No current projects as mentor</h3>
    <% end %>
    <% end %>
  </article>
</section>


<section class="as_mentee">
  <!-- iterate over mentor_projects can add mentee projects using (user.mentor_projects).zip.(user.mentee_projects)each -->
  <% @project_users.each do |user| %>
  <% if !user.mentee_projects.blank? %>
  <% (user.mentee_projects).each do |mentee_project| %>
  <h1 class="title">As a mentee:</h1>
  <article>
    <section class="mentee-project">
      <% if mentee_project &&  mentee_project.mentee_id = user.id %>
      <% if mentee_project.mentor_id.present? %>
      <% mentor = User.get_user(mentee_project.mentor_id)%>
      <% mentor_name = mentor.name %>
      <% mentor_avatar = mentor.avatar%>
      <section class="users">
        <section class="user">
          <h5>Mentor:</h5>
          <div class="user-image"><%= image_tag mentor.avatar.url(:thumb) %></div>
          <p><%= mentor_name%></p>
        </section>
        <section class="user">
          <h5>Mentee:</h5>
          <div class="user-image"><%= image_tag user.avatar.url(:thumb) %></div>
          <p><%= user.name%></p>
        </section>
      </section>
      <section class="project-info">
        <h5>Project Name:</h5>
        <p><%= mentee_project.name%></p>
        <h5>Project Description:</h5>
        <p><%= mentee_project.description%></p>
        <h5>Project Skills:</h5>
        <% mentee_project.skills.each do |project_skill|%>
        <p><%= project_skill.skill_name %></p>
        <% end %>
        <%= link_to 'View Project', project_path(mentee_project), { :class=>"btn" } %>
      </section>
      <% else %>
      <section class="users">
        <section class="user">
          <h5>Mentor:</h5>
          <div class="user-image"><%= image_tag("/images/missing.png") %></div>
          <p>No mentor yet</p>
        </section>
        <section class="user">
          <h5>Mentee:</h5>
          <div class="user-image"><%= image_tag user.avatar.url(:thumb) %></div>
          <p><%= user.name%></p>
        </section>
      </section>
      <section class="project-info">
        <h5>Project Name:</h5>
        <p><%= mentee_project.name%></p>
        <h5>Project Description:</h5>
        <p><%= mentee_project.description%></p>
        <h5>Project Skills:</h5>
        <% mentee_project.skills.each do |project_skill|%>
        <p><%= project_skill.skill_name %></p>
        <% end %>
        <%= link_to 'View Project', project_path(mentee_project), { :class=>"btn" } %>
      </section>
      <% end %>
      <% end %>
    </section>
    <% end %>
    <% else %>
    <h3>No current projects as mentee</h3>
    <% end %>
    <% end %>
  </article>
</section>

<% else %>


<!-- to set partial profile for archive view we can use if current.user && request.fullpath == "/archive" to set logic-->

<article>
  <!-- iterate over mentor_projects can add mentee projects using (user.mentor_projects).zip.(user.mentee_projects)each -->
  <% @project_users.each do |user| %>
  <% (user.mentor_projects).each do |mentor_project| %>
  <section style="max-width: 600px; margin: 0 auto">
    <% if mentor_project && mentor_project.mentee_id.present? && mentor_project.mentor_id =  user.id && mentor_project.public == true %>
    <% mentee = User.get_user(mentor_project.mentee_id)%>
    <section style="width: 33%; display: inline-block; vertical-align: top">
      <h5>  Mentor On This Project </h5>
      <%= user.avatar%>
      <h5>  <%= user.name%></h5>
      <h5>  Mentee On This Project </h5>
      <%= mentee.avatar%>
      <h5>  <%= mentee.name%></h5>
    </section>
    <section class="project-info">
      <h4> Project Name </h4>
      <h5><%= mentor_project.name%> </h5>
      <h4> Project Description </h4>
      <h5><%= mentor_project.description%> </h5>
      <h4> Skills To Learn </h4>
      <% mentor_project.skills.each do |project_skill|%>
      <h5><%= project_skill.skill_name %></h5>
      <% end %>
    </section>
    <% end %>
    <% end %>
  </section>
  <% end %>
</article>

<% end %>
