<% if current_user.present? %>

<% current_user.id == @user.id ? @owner = true : @owner = false %>

<section class="as_mentor">
  <!-- iterate over mentor_projects can add mentee projects using (user.mentor_projects).zip.(user.mentee_projects)each -->
  <% @project_users.each do |user| %>
  <% if !user.mentor_projects.blank? %>
  <h1 class="title">As a mentor:</h1>
  <% (user.mentor_projects).each do |mentor_project| %>
  <% if mentor_project.public %>
  <article>
    <section class="mentor-project">
      <% if mentor_project &&  mentor_project.mentor_id = user.id %>
      <% if mentor_project.mentee_id.present?%>
      <% mentee = User.get_user(mentor_project.mentee_id)%>
      <% mentee_name = mentee.name %>
      <% mentee_avatar = mentee.avatar%>
      <section class="users">
        <section class="user">
          <h5>Mentor:</h5>
          <%= image_tag user.avatar.url(:thumb), { :class=>"user-image" } %>
          <p><%= user.name%></p>
        </section>
        <section class="user">
          <h5>Mentee:</h5>
          <%= image_tag mentee.avatar.url(:thumb), { :class=>"user-image" } %>
          <p><%= mentee_name%></p>
        </section>
      </section>
      <section class="project-info">
        <h5>Project Name:</h5>
        <p><%= mentor_project.name%></p>
        <h5>Project Description:</h5>
        <p><%= mentor_project.description%></p>
        <h5>Project Skills:</h5>
        <% mentor_project.skills.each do |project_skill|%>
        <p><%= project_skill.skill_name %></p>
        <% end %>
        <%= link_to 'View Project', project_path(mentor_project), { :class=>"btn" } %>
      </section>
      <% else %>
      <section class="users">
        <section class="user">
          <h5>Mentor:</h5>
          <%= image_tag user.avatar.url(:thumb), { :class=>"user-image" } %>
          <p><%= user.name%></p>
        </section>
        <section class="user">
          <h5>Mentee:</h5>
          <%= image_tag ("/images/missing.png"), { :class=>"user-image" } %>
          <p>No mentee yet</p>
        </section>
      </section>
      <section class="project-info">
        <h5>Project Name:</h5>
        <p><%= mentor_project.name%></p>
        <h5>Project Description:</h5>
        <p><%= mentor_project.description%></p>
        <h5>Project Skills:</h5>
        <% mentor_project.skills.each do |project_skill|%>
        <p><%= project_skill.skill_name %></p>
        <% end %>
        <%= link_to 'View Project', project_path(mentor_project), { :class=>"btn" } %>
      </section>
      <% end %>
      <% end %>
    </section>
    <% end %>
    <% end %>
    <% else %>
    <h3>No current projects as mentor</h3>
    <% end %>
    <% end %>
  </article>
</section>


<section class="as_mentee">
  <!-- iterate over mentor_projects can add mentee projects using (user.mentor_projects).zip.(user.mentee_projects)each -->
  <% @project_users.each do |user| %>
  <% if !user.mentee_projects.blank? %>
  <h1 class="title">As a mentee:</h1>
  <% (user.mentee_projects).each do |mentee_project| %>
  <% if mentee_project.public %>
  <article>
    <section class="mentee-project">
      <% if mentee_project &&  mentee_project.mentee_id = user.id %>
      <% if mentee_project.mentor_id.present? %>
      <% mentor = User.get_user(mentee_project.mentor_id)%>
      <% mentor_name = mentor.name %>
      <% mentor_avatar = mentor.avatar%>
      <section class="users">
        <section class="user">
          <h5>Mentor:</h5>
          <%= image_tag mentor.avatar.url(:thumb), { :class=>"user-image" } %>
          <p><%= mentor_name%></p>
        </section>
        <section class="user">
          <h5>Mentee:</h5>
          <%= image_tag user.avatar.url(:thumb), { :class=>"user-image" } %>
          <p><%= user.name%></p>
        </section>
      </section>
      <section class="project-info">
        <h5>Project Name:</h5>
        <p><%= mentee_project.name%></p>
        <h5>Project Description:</h5>
        <p><%= mentee_project.description%></p>
        <h5>Project Skills:</h5>
        <% mentee_project.skills.each do |project_skill|%>
        <p><%= project_skill.skill_name %></p>
        <% end %>
        <%= link_to 'View Project', project_path(mentee_project), { :class=>"btn" } %>
      </section>
      <% else %>
      <section class="users">
        <section class="user">
          <h5>Mentor:</h5>
          <%= image_tag ("/images/missing.png"), { :class=>"user-image" } %>
          <p>No mentor yet</p>
        </section>
        <section class="user">
          <h5>Mentee:</h5>
          <%= image_tag user.avatar.url(:thumb), { :class=>"user-image" } %>
          <p><%= user.name%></p>
        </section>
      </section>
      <section class="project-info">
        <h5>Project Name:</h5>
        <p><%= mentee_project.name%></p>
        <h5>Project Description:</h5>
        <p><%= mentee_project.description%></p>
        <h5>Project Skills:</h5>
        <% mentee_project.skills.each do |project_skill|%>
        <p><%= project_skill.skill_name %></p>
        <% end %>
        <%= link_to 'View Project', project_path(mentee_project), { :class=>"btn" } %>
      </section>
      <% end %>
      <% end %>
    </section>
    <% end %>
    <% end %>
    <% else %>
    <h3>No current projects as mentee</h3>
    <% end %>
    <% end %>
  </article>
</section>

<% end %>
