<% if current_user.present? %>
  <% @project.mentor_id == current_user.id || @project.mentee_id == current_user.id ? mentor_mentee = true : mentor_mentee = false %>
<% else %>
  <% mentor_mentee = false %>
<% end %>

<% project_id = params[:id] %>

<% if @project.public || mentor_mentee %>

<% flash.each do |key, value| %>
  <p class="alert alert-<%= key %>"><%= value %></p>
<% end %>

  <% if current_user.id == @project.mentor_id %>


    <% if mentor_mentee && @project.mentee_id %>

      <% mentee = User.get_user(@project.mentee_id)%>
      <% if @project.mentor_pending %>
        <p>Mentee pending:</p>
      <% else %>
          <p>Mentee:</p>
      <% end %>
      <p><%= mentee.name %></p>
      <div class="user-image"><%= link_to image_tag(mentee.avatar.url(:thumb)), user_path(mentee.id) %></div>
      <% if @project.mentor_pending %>
        <%= form_tag project_path(project_id), :method => 'put' do %>
          <input type=hidden name=project_id value=<%= project_id %>>
          <input type=hidden name=mentor_pending value="false">
          <%= submit_tag "Accept invitation to be a mentor", { :class=>"btn" } %>
        <% end %>
      <% end %>

    <% else %>

      <p><%= link_to "Search for mentee", users_path(:project_id => @project.id, mentee_id: @project.mentee_id, mentor_id: @project.mentor_id), { :class=>"btn" } %><p>

    <% end %>

  <% else %>


    <% if mentor_mentee && @project.mentor_id %>
      <% mentor = User.get_user(@project.mentor_id)%>
      <% if @project.mentor_pending %>
        <p>Mentor pending:</p>
      <% else %>
          <p>Mentor:</p>
      <% end %>
      <p><%= mentor.name %></p>
      <div class="user-image"><%= link_to image_tag(mentor.avatar.url(:thumb)), user_path(mentor.id) %></div>
      <% if @project.mentee_pending %>
        <%= form_tag project_path(project_id), :method => 'put' do %>
          <input type=hidden name=project_id value=<%= project_id %>>
          <input type=hidden name=mentee_pending value="false">
          <%= submit_tag "Accept invitation to be a mentee", { :class=>"btn" } %>
        <% end %>
      <% end %>
    <% else %>
      <p><%= link_to "Search for mentor", users_path(:project_id => @project.id, mentee_id: @project.mentee_id, mentor_id: @project.mentor_id), { :class=>"btn" } %><p>
    <% end %>

  <% end %>

  <hr>

  <p>Name: <%= @project.name %><p>
  <p>Description: <%= @project.description %><p>
  <p>Project URL: <%= @project.project_url %><p>
  <p>Start date: <%= @project.start_date %><p>
  <p>Finish date: <%= @project.finish_date %><p>

  <%= link_to 'Edit', edit_project_path(@project) %>

<section class="project-page">
  <h4>Project information</h4>
  <p><%= @project.name %><p>
</section>

<section class="skills">
  <%= render 'projects/project_skills' %>
</section>

<section class="goals">
  <%= render 'projects/project_goals' %>
</section>

<section class="comments">
  <%= render 'projects/project_comments' %>
</section>


<% else %>
  <h4>This is a private project, you have no permission to access it.</h4>
<% end %>
