<% if current_user.present? %>
  <% @project.mentor_id == current_user.id || @project.mentee_id == current_user.id ? mentor_mentee = true : mentor_mentee = false %>
<% else %>
  <% mentor_mentee = false %>
<% end %>

<% project_id = params[:id] %>


<% if @project.public || mentor_mentee %>

  <% flash.each do |key, value| %>
    <p class="alert alert-<%= key %>"><%= value %></p>
  <% end %>

  <% if current_user %>

  <!-- if user is mentor, show only the mentee avatar -->
  <% if current_user.id == @project.mentor_id %>

    <% if mentor_mentee && @project.mentee_id %>

      <% mentee = User.get_user(@project.mentee_id)%>
      <% if @project.mentee_pending %>
        <p>Mentee pending:</p>
      <% else %>
          <p>Mentee:</p>
      <% end %>
      <p><%= mentee.name %></p>
      <div class="user-image"><%= link_to image_tag(mentee.avatar.url(:thumb)), user_path(mentee.id) %></div>
      <% if @project.mentor_pending %>
        <%= form_tag project_path(project_id), :method => 'put' do %>
          <input type=hidden name=project_id value=<%= project_id %>>
          <input type=hidden name=mentor_pending value="false">
          <input type=hidden name=accepted value=true>
          <%= submit_tag "Accept invitation to be a mentor", { :class=>"btn" } %>
        <% end %>
        <%= form_tag project_path(project_id), :method => 'put' do %>
          <input type=hidden name=project_id value=<%= project_id %>>
          <input type=hidden name=purpose value="mentor_decline">
          <%= submit_tag "Decline invitation to be a mentor", { :class=>"btn" } %>
        <% end %>
      <% end %>

    <% else %>

      <p><%= link_to "Search for mentee", users_path(:project_id => @project.id, mentee_id: @project.mentee_id, mentor_id: @project.mentor_id), { :class=>"btn" } %><p>

    <% end %>

  <% end %>

  <!-- if user is mentee, show only the mentor avatar -->
  <% if current_user.id == @project.mentee_id %>

    <% if mentor_mentee && @project.mentor_id %>
      <% mentor = User.get_user(@project.mentor_id)%>
      <% if @project.mentor_pending %>
        <p>Mentor pending:</p>
      <% else %>
          <p>Mentor:</p>
      <% end %>
      <p><%= mentor.name %></p>
      <div class="user-image"><%= link_to image_tag(mentor.avatar.url(:thumb)), user_path(mentor.id) %></div>
      <% if @project.mentee_pending %>
        <%= form_tag project_path(project_id), :method => 'put' do %>
          <input type=hidden name=project_id value=<%= project_id %>>
          <input type=hidden name=mentee_pending value="false">
          <%= submit_tag "Accept invitation to be a mentee", { :class=>"btn" } %>
        <% end %>
        <%= form_tag project_path(project_id), :method => 'put' do %>
          <input type=hidden name=project_id value=<%= project_id %>>
          <input type=hidden name=purpose value="mentee_decline">
          <%= submit_tag "Decline invitation to be a mentee", { :class=>"btn" } %>
        <% end %>
      <% end %>
    <% else %>
      <p><%= link_to "Search for mentor", users_path(:project_id => @project.id, mentee_id: @project.mentee_id, mentor_id: @project.mentor_id), { :class=>"btn" } %><p>
    <% end %>

  <% end %>

  <% end %>

  <!-- if user is not mentee or mentor or if is anonymous user, show both avatars -->
  <% if !mentor_mentee %>
    <% mentor = User.get_user(@project.mentor_id)%>
    <% mentee = User.get_user(@project.mentee_id)%>
    <p>Mentee:</p>
    <p><%= mentee.name %></p>
    <div class="user-image"><%= link_to image_tag(mentee.avatar.url(:thumb)), user_path(mentee.id) %></div>
    <p>Mentor:</p>
    <p><%= mentor.name %></p>
    <div class="user-image"><%= link_to image_tag(mentor.avatar.url(:thumb)), user_path(mentor.id) %></div>
  <% end %>

  <hr>

  <p>Name: <%= @project.name %><p>
  <p>Description: <%= @project.description %><p>
  <p>Project URL: <%= @project.project_url %><p>
  <p>Start date: <%= @project.start_date %><p>
  <p>Finish date: <%= @project.finish_date %><p>
  <p>Public project: <%= @project.public ? "Yes" : "No, this project is private." %>
  <p>Completion status: <%= CompletionStatus.find(@project.completion_status_id).name %>

<br><br>
  <% if mentor_mentee %>
    <%= link_to 'Edit', edit_project_path(@project) %>
  <% end %>


<section class="skills">
  <%= render 'projects/project_skills' %>
</section>

<section class="goals">
  <%= render 'projects/project_goals' %>
</section>

<section class="comments">
  <%= render 'projects/project_comments' %>
</section>

<!-- Add mentor and mentee actual names -->
<section class="rating-section">
  <% if current_user && mentor_mentee %>

    <% if @project.mentor_pending || !@project.mentor_id.present? %>
      <h4> Mentor pending. Ratings and feedbacks will be available when mentor was confirmed.  </h4>
    <% elsif @project.mentee_pending || !@project.mentee_id.present?  %>
      <h4> Mentee pending. Ratings and feedbacks will be available when mentee was confirmed.  </h4>
    <% elsif current_user.id == @project.mentor_id %>
    <!-- current user is the mentor: show mentee's ratings to edit and mentor's rating to see -->
      <% mentee_name = User.find(@project.mentee_id).name %>
      <h1> <%= mentee_name %>'s rating as mentee on this project </h1>
      <div class="row">
        <div class="small-2 large-4 columns">
          Accuracy: <%= rating_for @project, "accuracy_mentee", stars: 5 %>
          <br>
          Availability: <%= rating_for @project, "availability_mentee", stars: 5  %>
        </div>
      </div>
      <div>
        Feedback for mentee:<br>
        <%= form_tag project_path(project_id), :method => 'put' do %>
          <input type=hidden name=project_id value=<%= project_id %>>
          <input type=hidden name=purpose value="update_mentor_feedback">
          <%= text_area_tag(:mentor_feedback, @project.mentor_feedback, cols: 80, rows: 5) %>
          <br>
          <%= submit_tag "Update feedback", { :class=>"btn" } %>
        <% end %>
      </div>
      <br><br>
      <h1> <%= current_user.name %>'s rating as mentor on this project </h1>
      <div class="row">
        <div class="small-2 large-4 columns">
          Accuracy: <% if current_user.received_ratings.where(project_id: @project.id).present? %><span class='star-rating' data-score=<%=  current_user.received_ratings.where("project_id = ? and accuracy is not null", @project.id).first.accuracy %>></span><% else %>No rating yet<% end %>
          <br>
          Availability: <% if current_user.received_ratings.where(project_id: @project.id).present? %><span class='star-rating' data-score=<%=  current_user.received_ratings.where("project_id = ? and availability is not null", @project.id).first.availability %>></span><% else %>No rating yet<% end %>
        </div>
      <div>
        Feedback for mentor:<br>
        <textarea cols="80" rows="5" disabled>
          <%=@project.mentee_feedback%>
        </textarea>
      </div>

    <% elsif current_user.id == @project.mentee_id  %>
    <!-- current user is the mentee: show mentor's ratings to edit and mentee's rating to see -->
      <h1> <%= current_user.name %>'s rating as mentee on this project </h1>
      <div class="row">
        <div class="small-2 large-4 columns">
          Accuracy: <% if current_user.received_ratings.where(project_id: @project.id).present? %><span class='star-rating' data-score=<%=  current_user.received_ratings.where("project_id = ? and accuracy is not null", @project.id).first.accuracy %>></span><% else %>No rating yet<% end %>
          <br>
          Availability: <% if current_user.received_ratings.where(project_id: @project.id).present? %><span class='star-rating' data-score=<%=  current_user.received_ratings.where("project_id = ? and availability is not null", @project.id).first.availability %>></span><% else %>No rating yet<% end %>
        </div>
      </div>
      <div>
        Feedback for mentee:<br>
        <textarea cols="80" rows="5" disabled>
          <%= @project.mentor_feedback %>
        </textarea>
      </div>
      <% mentor_name = User.find(@project.mentor_id).name %>
      <h1> <%= mentor_name %>'s rating as mentor on this project </h1>
      <div class="row">
        <div class="small-2 large-4 columns">
            Accuracy: <%= rating_for @project, "accuracy_mentor", stars: 5 %>
            <br>
            Availability: <%= rating_for @project, "availability_mentor", stars: 5  %>
        </div>
      </div>
      <div>
        Feedback for mentor:<br>
        <%= form_tag project_path(project_id), :method => 'put' do %>
          <input type=hidden name=project_id value=<%= project_id %>>
          <input type=hidden name=purpose value="update_mentee_feedback">
          <%= text_area_tag(:mentee_feedback, @project.mentee_feedback, cols: 80, rows: 5) %>
          <%= submit_tag "Update feedback", { :class=>"btn" } %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</section>


<% else %>
  <h4>This is a private project, you need permission to access it.</h4>
<% end %>
