<% if current_user.present? %>
  <% @project.mentor_id == current_user.id || @project.mentee_id == current_user.id ? mentor_mentee = true : mentor_mentee = false %>
<% else %>
  <% mentor_mentee = false %>
<% end %>

<% if @project.public || mentor_mentee %>

  <% if current_user.id == @project.mentor_id %>
    <p>I'm a mentor</p>
    <p><%= link_to "Search for mentee", users_path(:project_id => @project.id, mentee_id: @project.mentee_id, mentor_id: @project.mentor_id), { :class=>"btn" } %><p>
  <% else %>
    <p>I'm a mentee</p>
    <p><%= link_to "Search for mentor", users_path(:project_id => @project.id, mentee_id: @project.mentee_id, mentor_id: @project.mentor_id), { :class=>"btn" } %><p>
  <% end %>

  <hr>

  <p>Name: <%= @project.name %><p>
  <p>Description: <%= @project.description %><p>
  <p>Project URL: <%= @project.project_url %><p>
  <p>Start date: <%= @project.start_date %><p>
  <p>Finish date: <%= @project.finish_date %><p>

  <%= link_to 'Edit', edit_project_path(@project) %>

<section class="project-page">
  <h4>Project information</h4>
  <p><%= @project.name %><p>
</section>

<section class="skills">
  <%= render 'projects/project_skills' %>
</section>

<section class="goals">
  <%= render 'projects/project_goals' %>
</section>

<section class="comments">
  <%= render 'projects/project_comments' %>
</section>

<!-- Add mentor and mentee actual names -->
<section class="rating-section">
<% if current_user &&  current_user.id == @project.mentor_id %>
  <h1> Rate MenteeNameHere As Mentee On This Project </h1>
  <div class="row">
    <div class="small-2 large-4 columns">
      <% if current_user %>
        Accuracy: <%= rating_for @project, "accuracy", stars: 5 %>
        <br>
        Availability: <%= rating_for @project, "availability", stars: 5  %>
        <br>
      <% end %>
    </div>
  </div>

<% elsif current_user && current_user.id == @project.mentee_id  %>
  <h1> Rate MentorNameHere As Mentor On This Project </h1>
    <div class="row">
      <div class="small-2 large-4 columns">
        <% if current_user %>
          Accuracy: <%= rating_for @project, "accuracy", stars: 5 %>
          <br>
          Availability: <%= rating_for @project, "availability", stars: 5  %>
          <br>
        <% end %>
      </div>
    </div>
<% end %>
</section>


<% else %>
  <h4>This is a private project, you have no permission to access it.</h4>
<% end %>
