<% if current_user.id == @user.id %>

    <section class="as_mentor"  style="width: 50%; display: inline-block;">
      <h1 class="title"> Completed Projects</h1>

      <article>
      <!-- iterate over mentor_projects can add mentee projects using (user.mentor_projects).zip.(user.mentee_projects)each -->
        <% @project_users_completed.each do |user| %>
          <% (user.mentor_projects).each do |mentor_project| %>
            <section style="max-width: 600px; margin: 0 auto">
              <% if mentor_project && mentor_project.mentor_id = user.id %>

              <% if mentor_project.mentee_id.present? %>
                <% mentee = User.get_user(mentor_project.mentee_id)%>
              <% else %>
                <% mentee.name = "No Mentee For This Project" %>
                <% mentee.avatar = "No Avatar" %>
              <% end %>

                <section style="width: 33%; display: inline-block; vertical-align: top">
                  <h5>  Mentor On This Project </h5>
                  <%= user.avatar %>
                  <h5>  <%= user.name %></h5>
                  <h5>  Mentee On This Project </h5>
                  <%= mentee.avatar %>
                  <h5>  <%= mentee.name %></h5>
                </section>
                <section style="width: 66%; display: inline-block;">
                  <div style="width: 100;">
                    <h5> Project Name </h5>
                    <h4><%= mentor_project.name%> </h4>
                    <h5> Project Status </h5>
                    <h4><%= mentor_project.name%> </h4>
                    <h5> Project Description </h5>
                    <h4><%= mentor_project.description%> </h4>
                    <% mentor_project.skills.each do |project_skill|%>
                      <h5><%= project_skill.skill_name %></h5>
                    <% end %>
                    <button>See This Project</button>
                  </div>
                </section>
              <% elsif !mentor_project.present?%>
               <div> <h3> No Archived Projects As Mentor </h3> </div>
              <% end %>
            <% end %>
          </section>
        <% end %>
      </article>
  </section>


  <section class="as_mentee" style="width: 50%; display: inline-block;">
       <article>
      <!-- iterate over mentor_projects can add mentee projects using (user.mentor_projects).zip.(user.mentee_projects)each -->
        <% @project_users_completed.each do |user| %>
          <% (user.mentee_projects).each do |mentee_project| %>
            <section style="max-width: 600px; margin: 0 auto">
              <% if mentee_project && mentee_project.mentor_id = user.id %>
                <% mentor = User.get_user(mentee_project.mentor_id)%>

              <% if mentee_project.mentor_id.present?%>
                <% mentor = User.get_user(mentee_project.mentor_id)%>
              <% else %>
                <% mentor.name = "No Mentor For This Project" %>
                <% mentor.avatar = "No Avatar" %>
              <% end %>

                <section style="width: 33%; display: inline-block; vertical-align: top">
                  <h5>  Mentor On This Project </h5>
                  <%= mentor.avatar%>
                  <h5>  <%= mentor.name%></h5>
                  <h5>  Mentee On This Project </h5>
                  <%= user.avatar%>
                  <h5>  <%= user.name%></h5>
                </section>
                <section style="width: 66%; display: inline-block;">
                  <div style="width: 100;">
                    <h5> Project Name </h5>
                    <h4><%= mentee_project.name%> </h4>
                    <h5> Project Description </h5>
                    <h4><%= mentee_project.description%> </h4>
                    <% mentee_project.skills.each do |project_skill|%>
                      <h5><%= project_skill.skill_name %></h5>
                    <% end %>
                    <button>See This Project</button>
                  </div>
                </section>
              <% elsif !mentee_project.present? %>
                <div> <h3> No Archived Projects As Mentee </h3> </div>
              <% end %>
            <% end %>
          </section>
        <% end %>
      </article>
    </section>


    <section class="as_mentor"  style="width: 50%; display: inline-block;">
      <h1 class="title">Cancelled Projects</h1>

      <article>
      <!-- iterate over mentor_projects can add mentee projects using (user.mentor_projects).zip.(user.mentee_projects)each -->
        <% @project_users_cancelled.each do |user| %>
          <% (user.mentor_projects).each do |mentor_project| %>
            <section style="max-width: 600px; margin: 0 auto">
              <% if mentor_project &&  mentor_project.mentor_id =  user.id %>

              <% if mentor_project.mentee_id.present?%>
              <% mentee = User.get_user(mentor_project.mentee_id)%>
            <% else %>
              <% mentee.name = "No Mentee For This Project" %>
              <% mentee.avatar = "No Avatar" %>
              <% end %>

                <section style="width: 33%; display: inline-block; vertical-align: top">
                  <h5>  Mentor On This Project </h5>
                  <%= user.avatar%>
                  <h5>  <%= user.name%></h5>
                  <h5>  Mentee On This Project </h5>
                  <%= mentee.avatar %>
                  <h5>  <%= mentee.name %></h5>
                </section>
                <section style="width: 66%; display: inline-block;">
                  <div style="width: 100;">
                    <h5> Project Name </h5>
                    <h4><%= mentor_project.name%> </h4>
                    <h5> Project Status </h5>
                    <h4><%= mentor_project.name%> </h4>
                    <h5> Project Description </h5>
                    <h4><%= mentor_project.description%> </h4>
                    <% mentor_project.skills.each do |project_skill|%>
                      <h5><%= project_skill.skill_name %></h5>
                    <% end %>
                    <button>See This Project</button>
                  </div>
                </section>
              <% elsif !mentor_project.present?%>
               <div> <h3> No Archived Projects As Mentor </h3> </div>
              <% end %>
            <% end %>
          </section>
        <% end %>
      </article>
  </section>


  <section class="as_mentee" style="width: 50%; display: inline-block;">
       <article>
      <!-- iterate over mentor_projects can add mentee projects using (user.mentor_projects).zip.(user.mentee_projects)each -->
        <% @project_users_cancelled.each do |user| %>
          <% (user.mentee_projects).each do |mentee_project| %>
            <section style="max-width: 600px; margin: 0 auto">
              <% if mentee_project &&  mentee_project.mentor_id =  user.id %>
                <% mentor = User.get_user(mentee_project.mentor_id)%>

              <% if mentee_project.mentor_id.present?%>
                <% mentor = User.get_user(mentee_project.mentor_id)%>
              <% else %>
                <% mentor.name = "No Mentor For This Project" %>
                <% mentor.avatar = "No Avatar" %>
              <% end %>

                <section style="width: 33%; display: inline-block; vertical-align: top">
                  <h5>  Mentor On This Project </h5>
                  <%= mentor.avatar%>
                  <h5>  <%= mentor.name%></h5>
                  <h5>  Mentee On This Project </h5>
                  <%= user.avatar%>
                  <h5>  <%= user.name%></h5>
                </section>
                <section style="width: 66%; display: inline-block;">
                  <div style="width: 100;">
                    <h5> Project Name </h5>
                    <h4><%= mentee_project.name%> </h4>
                    <h5> Project Description </h5>
                    <h4><%= mentee_project.description%> </h4>
                    <% mentee_project.skills.each do |project_skill|%>
                      <h5><%= project_skill.skill_name %></h5>
                    <% end %>
                    <button>See This Project</button>
                  </div>
                </section>
              <% elsif !mentee_project.present? %>
                <div> <h3> No Archived Projects As Mentee </h3> </div>
              <% end %>
            <% end %>
          </section>
        <% end %>
      </article>
    </section>



<% else %>
Not authorized.
<% end %>
