<nav class="navbar navbar-default navbar-fixed-top">
  <ul class="nav-left">
    <li><%= link_to 'Home', :root %></li>
    <li><%= link_to 'Messages', :root %></li>
    <li><%= link_to 'Search', :root %></li>
  </ul>
  <ul class="nav-right">
    <% if current_user %>
      <li><span class="current-user-first-name">Signed in as <%= current_user.name %></span> | <%= link_to "Logout", '/logout' %></li>
    <% else %>
      <li><%= link_to 'Register/Login',  [:authenticate] %></li>
    <% end %>
  </ul>
</nav>
