<!DOCTYPE html>
<html>
  <head>
    <title>MentorApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render 'layouts/top_nav' %>
    <main>
      <%= yield %>
    </main>

    <script>
      $('.star-rating').raty({
        path: '/assets',
        readOnly:true,
        score: function () {
          return $(this).attr('data-score');
        }
      });
    </script>>
  </body>
</html>


<%= console %>
